@charset "UTF-8";
#mmb-layout {
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}
#mmb-layout .breadcrumb {
  margin-bottom: 0px;
  padding: 0;
  line-height: 38px;
}
#mmb-layout .breadcrumb .active {
  color: #000;
}
#all {
  width: 100%;
}
#mmb-top {
  width: 100%;
  height: 38px;
  background-color: #ebebeb;
  font-size: 13px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ccc;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
}
#mmb-top a {
  color: #5a5a5a;
  padding: 0 10px;
}
#mmb-billboard {
  width: 100%;
  padding: 0 5px;
  margin-top: 5px;
}
#mmb-billboard h1 {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  line-height: 40px;
  font-size: 16px;
  padding-left: 10px;
  background-color: #eee;
  color: #874604;
}
#mmb-list {
  width: 100%;
  padding: 0 10px;
  background: #f5f5f5;
}
#mmb-list ul {
  width: 100%;
}
#mmb-list ul li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
}
#mmb-list ul li a {
  display: block;
}
#mmb-list ul li h3 {
  width: 100%;
  font-size: 16px;
  color: #000;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
}
#mmb-list ul li i {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  color: #666;
}
.good {
  width: 100%;
  height: 36px;
  background: #f3f3f3;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}
.good h2 {
  line-height: 36px;
  height: 36px;
  padding-left: 10px;
  color: #874604;
  font-size: 14px;
  font-weight: 700;
}
#details {
  width: 100%;
}
#details ul {
  width: 100%;
}
#details ul li:nth-child(1) a i {
  background: red;
}
#details ul li:nth-child(2) a i {
  background: darkorange;
}
#details ul li:nth-child(3) a i {
  background: #adff2f;
}
#details ul li {
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  padding: 10px;
}
#details ul li a {
  width: 100%;
}
#details ul li a i {
  position: absolute;
  top: 20px;
  left: 6px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #c9c9c9;
}
#details ul li a .del {
  margin-left: 30px;
}
#details ul li a .del h3 {
  font-size: 16px;
  color: #000;
}
#details ul li a .del span {
  position: absolute;
  right: 10px;
  top: 30px;
  font-size: 20px;
}
#sales {
  width: 100%;
}
#sales ul {
  width: 100%;
}
#sales ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#sales ul li a {
  width: 100%;
}
#sales ul li a .pic {
  width: 100px;
  height: 100px;
}
#sales ul li a .info {
  margin-left: 115px;
  font-size: 14px;
  line-height: 24px;
}
#sales ul li a .info p {
  color: #333333;
  line-height: 22px;
  width: 100%;
  min-height: 44px;
  word-break: break-all;
}
#sales ul li a .info .price {
  margin-top: 5px;
  height: 25px;
}
#sales ul li a .info .price em {
  font-size: 18px;
  color: #ea3900;
  vertical-align: middle;
  float: left;
}
#sales ul li a .info .price span {
  margin-top: 2px;
}
#sales ul li a .info .price span .wx {
  font-size: 18px;
  color: #ea3900;
  vertical-align: middle;
  float: left;
}
#sales ul li a .info .comment {
  margin-top: 5px;
  font-size: 12px;
}
#sales ul li a .info .comment em {
  margin-right: 10px;
}
#comment {
  width: 100%;
}
#comment ul {
  width: 100%;
}
#comment ul li {
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}
#comment ul li a {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
#comment ul li a .pic {
  width: 80px;
  height: 80px;
}
#comment ul li a .pic img {
  width: 100%;
}
#comment ul li a .info1 {
  margin-left: 95px;
  font-size: 14px;
  padding: 5px;
}
#comment ul li a .info1 p {
  color: #999;
  line-height: 22px;
  width: 100%;
  margin-bottom: 20px;
  word-break: break-all;
}
#comment ul li .pl {
  background: #f8f8f8;
  padding: 10px;
  border: 1px solid #e7e7e7;
  position: relative;
}
#comment ul li .pl a {
  display: block;
}
#comment ul li .pl a .name {
  color: #4f6900;
}
#comment ul li .pl a .name .xm {
  font-size: 14px;
}
#comment ul li .pl a .name .time {
  float: right;
  font-size: 14px;
}
#comment ul li .pl a .con {
  margin-top: 5px;
}
#comment ul li .pl::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 30px;
  top: -7px;
  border-bottom: 8px solid #f8f8f8;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
#comment ul li .pl:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 29px;
  top: -8px;
  border-bottom: 8px solid #e7e7e7;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
#prd {
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
}
#prd .top {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
}
#prd .top a {
  float: left;
  line-height: 36px;
  font-size: 14px;
  padding: 0 5px;
}
#prd ul {
  width: 100%;
  padding: 0 8px;
}
#prd ul .sel {
  height: 40px;
  text-align: center;
}
#prd ul .sel span {
  line-height: 40px;
  font-size: 14px;
  width: 25%;
  float: left;
}
#prd ul .li {
  width: 100%;
}
#prd ul .li a {
  display: block;
}
#prd ul .li a .pic {
  width: 120px;
  height: 120px;
}
#prd ul .li a .pic img {
  width: 100%;
}
#prd ul .li a .info {
  margin-left: 130px;
  height: 120px;
}
#prd ul .li a .info .info1 {
  font-size: 14px;
  font-weight: 600;
}
#prd ul .li a .info .info2 span {
  color: #ed0000;
  font-size: 18px;
}
#prd ul .li a .info .info2 .info3 span {
  font-size: 12px;
  color: #c8c8c8;
}
#introduce {
  width: 100%;
  margin-top: 5px;
  position: relative;
}
#introduce .save {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45px;
  right: 12px;
  background: greenyellow;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}
#introduce .top {
  width: 100%;
  height: 36px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#introduce .top a {
  float: left;
  line-height: 36px;
  font-size: 14px;
  padding: 0 5px;
}
#introduce .box {
  background-color: #fff;
}
#introduce .box .pic {
  margin: 0 auto;
  width: 160px;
  height: 160px;
}
#introduce .box .tit {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
#introduce .box .tit1 {
  height: 32px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  background-color: #fff;
  margin-bottom: 5px;
}
#introduce .box .tit1 i:nth-child(1) {
  background-color: #ffbb00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa632), to(#ff9000));
}
#introduce .box .tit1 i:nth-child(2) {
  background-color: #ffbb00;
  border-left: solid 1px #c14d00;
  border-right: solid 1px #c14d00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd050), to(#ffbb00));
}
#introduce .box .tit1 i:nth-child(3) {
  background-color: #ffbb00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd050), to(#ffbb00));
}
#introduce .box .tit1 i {
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  height: 30px;
  float: left;
  padding: 0 20px;
  width: 33.33%;
}
#introduce .box .tip {
  font-size: 12px;
  line-height: 18px;
  color: #888;
  padding: 8px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 3px solid #666;
}
.discuss .tip1 {
  height: 34px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
  background: #dbdbdb;
  font-size: 14px;
  border-top: 1px solid #fff;
}
.discuss ul {
  padding-top: 10px;
}
.discuss ul li {
  margin-top: 10px;
}
.discuss ul li .name {
  padding: 5px;
}
.discuss ul li .comf {
  padding: 0 5px;
}
.discuss ul li .comf span:nth-child(1) {
  color: orange;
}
.discuss ul li .return {
  color: #999;
  padding: 5px 0 0 5px;
}
