@charset 'UTF-8';
body {
  background-color: #f1f1f1;
}
#search {
  padding: 10px;
  background-color: #fff;
}
#search > form {
  position: relative;
  padding-right: 70px;
}
#search > form > input[type="search"] {
  width: 100%;
  background-color: #f1f1f1;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 13px;
  padding-right: 50px;
  padding-left: 20px;
}
#search > form > input[type='button'] {
  background-color: #ff841d;
  width: 63px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  color: #fff;
  border-radius: 15px;
}
.login {
  background-color: #f1f1f1;
}
.login > .loginTab {
  padding: 8px 10px;
}
.login > .loginTab > input {
  width: 100%;
  height: 38px;
  font-size: 14px;
  line-height: 32px;
  border: 1px solid #ccc;
  text-indent: 5px;
  color: #666;
  background: linear-gradient(to bottom, #f5f5f5, #fdfdfd);
  margin: 5px 0;
}
.login > .loginTab > #loginbtn {
  background: linear-gradient(to bottom, #ffaf47, #ff9000);
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}
.login > .loginTab > div {
  padding: 10px 0;
  font-size: 14px;
}
.login > .loginTab > .save > input[type=checkbox] {
  vertical-align: middle;
}
.login > .loginTab > .prompt {
  color: red;
}
.login > .loginTab > .forget {
  color: #888;
  font-size: 13px;
}
.foot {
  padding-top: 20px;
}
.foot > .foot-top {
  margin-top: 0;
}
.app-show {
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  background-color: #faf8f5;
}
.app-show > .closefix {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  padding: 19px 12px 20px;
  background-image: url('../images/icons/closefix.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px;
}
.app-show > .icon {
  position: absolute;
  top: 50%;
  left: 46px;
  transform: translateY(-50%);
  width: 41px;
  height: 41px;
  background-image: url('../images/icons/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 41px;
}
.app-show > p {
  margin: 3px 84px 0 97px;
  font-size: 14px;
  line-height: 14px;
  color: #999;
}
.app-show > .fixtitle {
  margin-top: 12px;
  font-size: 18px;
  line-height: 18px;
  color: #888;
}
.app-show > .down-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 13px;
  line-height: 13px;
  background-color: #ff7700;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  box-shadow: inset 0 -2px #ff5500;
}
